  <!doctype html> 
<html lang="en"> 
<head> 
	<meta charset="UTF-8" />
	<title>Phaser - One Deeper</title>
	<script type="text/javascript" src="../lib/phaser.min.js"></script>
	<script type="text/javascript" src="../js/game.js"></script>
    <script type="text/javascript" src="../js/cloud.js"></script>
    <script type="text/javascript" src="../js/cloudProtos.js"></script>
    <script type="text/javascript" src="../js/gameProtos.js"></script>
    <script type="text/javascript" src="../js/app.js"></script>


<style>
        body {
            margin: 0;
        }
    </style>
</head>
<body>

<div id="game"></div>

</body>
</html>